@model RTEXERP.Contracts.BLModels.Maxco.SPModel.BatchCosting.BatchCostingMap
@{
    ViewData["Title"] = $"Batch Production Cost{Model.CompanyName}";
    Layout = null;

    var StrColor = "";
    double IntfabricQty = 0;
    double IntChemCost = 0;
    double IntDyeCost = 0;
    double IntTotalCost = 0;
    double TotalEarningUSD = 0;
    double TotalToCalculateFinishFabricQty = 0;
    double IntWastagTotalQty = 0;
    double DblTotalMaterialCost = 0;
    double DblGrossProfit = 0;
    double TotalDblGrossProfit = 0;
    double TotalDblTotalMaterialCostFC = 0;
    DateTime CurrentDate = DateTime.Now;
    //Model.CurrencyRate = 80;
    double TOTALCOSTUSD = 0;
    double IntProdCost = 0;
    double IntShadeCost = 0;
    double IntSampleCost = 0;
    double IntMWCost = 0;
    //string bgColor = "";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Robintex comptex">
    <meta name="generator" content="Jekyll v3.8.6">
    <title>Batch Production Cost::@Model.CompanyName</title>


    <meta name="theme-color" content="#563d7c">

    @*<link rel="stylesheet" href="http s://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">*@

    <link href="~/AdminLTE-3.1.0-rc/dist/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/AdminLTE-3.1.0-rc/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <script src="~/AdminLTE-3.1.0-rc/plugins/jquery/jquery.min.js"></script>
    <script src="~/AdminLTE-3.1.0-rc/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminLTE-3.1.0-rc/plugins/select2/js/select2.min.js"></script>
    <script src="~/script/customFunctions/generalizedFunctions.js"></script>
    @*  <script src="http s://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>*@

    <style>
        table.floatThead-table {
            border-top: none;
            border-bottom: none;
            background-color: #fff;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .intro {
            font-size: 150%;
            color: red;
        }

        table thead {
            text-align: center;
        }

        table {
            table-layout: fixed;
        }

        td {
            word-wrap: break-word
        }

        table.table-bordered {
            border: 1px solid #000;
            margin-top: 20px;
        }

            table.table-bordered > thead > tr > th {
                border: 1px solid #000;
            }

            table.table-bordered > tbody > tr > td {
                border: 1px solid #000;
            }

            table.table-bordered > tbody > tr > th {
                border: 1px solid #000;
            }

            table.table-bordered > tfoot > tr > th {
                border: 1px solid #000;
            }



/*        .fragment {
            font-size: 12px;
            font-family: tahoma;
            height: 140px;
            border: 1px solid #ccc;
            color: #555;
            display: block;
            padding: 10px;
            box-sizing: border-box;
            text-decoration: none;
        }

            .fragment:hover {
                box-shadow: 2px 2px 5px rgba(0,0,0,.2);
            }

            .fragment img {
                float: left;
                margin-right: 10px;
            }


            .fragment h3 {
                padding: 0;
                margin: 0;
                color: #369;
            }

            .fragment h4 {
                padding: 0;
                margin: 0;
                color: #000;
            }*/

        #close {
            float: right;
            display: inline-block;
            padding: 0px 8px;
            background: #24a0ed;
            cursor: pointer;
        }
        #close:hover {
            background:#ff4040;
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="~/css/BatchReportCss.css" rel="stylesheet" />
    <link href="~/css/landscapePrint.css" rel="stylesheet" />
    <link href="~/css/printCommon.css" rel="stylesheet" />

</head>
<body>


    <div class="container-fluid printArea">
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
            <div class="row">
                <div class="col-md-12" style="text-align:center;">
                    <span class="col-md-12" style="text-align:center;font-weight:bold;">Comptex Dyeing Costing Summary</span>
                    <br />
                    <span class="col-md-12" style="text-align:center;font-weight:bold;">(Recipe Costing Based on Issuance of Dyes & Chemicals From @Model.StoreLocation)</span>
                    <br />
                    <span class="col-md-12" style="text-align:center;font-weight:bold;">Date Duration @Model.DateFrom To @Model.DateTo</span>
                </div>

            </div>
            <br />
            <div class="form-group row mb-0 pb-0">
                <label for="staticEmail" class="col-sm-1 col-form-label" style="text-align:right;">Order No</label>
                <div class="col-sm-2">
                    <select class="form-control form-control-sm" id="SlOrderNO" name="SlOrderNO"></select>
                </div>

                <label for="staticEmail" class="col-sm-1 col-form-label" style="text-align:right;">Lot No</label>
                <div class="col-sm-2">
                    <select class="form-control form-control-sm" id="LotID" name="LotID"></select>
                </div>
                <button class="btn btn-xs btn-info" id="btnShow" type="button">Show</button>

            </div>
            <div class="row d-none" id="divLot">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <span></span>
                    <span class="font-weight-bold" id='close' onclick='HideLotTable(this)'>x</span>
                    @*<span class="font-weight-bold" id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>x</span>*@
                    <table class="table table-sm table-bordered text-xs text-center">
                        <thead>
                            <tr style="background:#aabbcc">
                                <th>IR Code</th>
                                <th>Req Type</th>
                                <th>Lot No</th>
                                <th>Greige Qty</th>
                                <th>Finish Qty</th>
                            </tr>
                        </thead>
                        <tbody id="tBodyLot">

                        </tbody>
                    </table>
                </div>
                <div class="col-md-3">                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-sm table-bordered" style="font-size:14px;font-weight:bold;">
                        <tr style="background:#aabbcc">
                            <td style="width:165px">Doller Rate($) :BDT<span id="ExchangeRate"> @Model.CurrencyRate</span></td>
                            <td>Earning : <span class="gtotalEarning">0</span></td>
                            <td>Production Cost : <span class="gtotalProductionCost">0</span></td>
                            <td>Salary : <span class="gperDaySalary">0</span></td>
                            <td>Total Cost : <span class="gtotalCost">0</span></td>
                            <td class="profitLoss">Profit/Loss : <span class="gProfitLoss">0</span></td>

                        </tr>
                    </table>
                    <table class="table table-striped table-bordered table-sm mdReport" id="tblSummary">
                        <thead>
                            <tr class="active" style="vertical-align:middle;">
                                <th style="vertical-align:middle;">TOTAL EARNINGS: </th>
                                <th id="totalEarning"></th>
                                <th style="vertical-align:middle;">Salary:</th>
                                <th style="vertical-align:middle;">BDT: @(String.Format("{0:n2}",Model.ComPerDayTotalSalary))</th>
                                <th style="vertical-align:middle;">SAMPLING COST:</th>
                                <th id="samplingCost"></th>
                                <th style="vertical-align:middle;">SHADE CORRECTION:</th>
                                <th id="ShadeCorrection"></th>
                            </tr>
                            <tr class="">
                                <th style="vertical-align:middle;">PRODUCTION COST:</th>
                                <th id="ProductionCost"></th>
                                <th style="vertical-align:middle;">MACHINE WASH:</th>
                                <th id="MachineWashCost"></th>
                                <th style="vertical-align:middle;">GROSS PROFIT:</th>
                                <th id="GrossProfit"></th>
                                <th style="vertical-align:middle;">Production Quantity:</th>
                                <th style="vertical-align:middle;" id="productionFabricQuantity"></th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    @*<div class="table-responsive-sm table-responsive-lg">*@
                    <h6 style="text-align:center;"  title="Excel Download">Production</h6>
                    <button id="exportProductionExcel" class="btn btn-xs btn-danger m-0 p-0"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel </button>
                    <table class="table table-striped table-sm table-lg table-bordered borderColor mdReport sticky-header" id="tblexportProductionExcelRawData">
                        <thead>
                            <tr class="table-thead">
                                <th style="width:30px;">SL</th>
                                <th>Buyer</th>
                                <th style="width:80px;">Order<br /> No</th>
                                <th style="width:60px;">Lot<br /> No</th>
                                <th style="width:65px;">Date</th>
                                <th style="width:60px;">Machine<br />No</th>
                                <th>Color</th>
                                <th>Costing<br />Rate<br />USD</th>
                                <th>Greige<br />Qty<br />(KG)</th>
                                @*<th>Finish<br />Qty<br />(KG)</th>*@
                                <th>Delivered<br />Qty<br />(KG)</th>
                                <th>Wastage<br />Qty<br />(KG)</th>
                                <th>Wastage <br />%</th>
                                <th>TOTAL<br />EARNING<br />USD</th>
                                <th>Total<br />Cost<br />USD</th>
                                <th>Gross<br />Profit<br />USD</th>
                                <th>Cost/KG<br />USD</th>
                                <th>Dyes<br />Cost<br />BDT</th>
                                <th>Chemical<br />Cost<br />BDT</th>
                                <th>Total<br />Cost<br />BDT</th>
                                <th>Chemical<br />Cost/(KG)<br />BDT</th>
                                <th>Dyes<br />Cost/(KG)<br />BDT</th>
                                <th>Cost/(KG)<br />BDT</th>

                            </tr>
                        </thead>
                        <tbody class="table-body">
                            @{
                                double IntGreigeQty = 0;
                                double FinishFabricQty = 0;
                                double ToCalculateFinishFabricQty = 0;
                                double DblTotalMaterialCostFC = 0;
                                double FinishFabricDelQty = 0;
                                double TotalFinishFabricDelQty = 0;

                                DateTime RECIPEDATE = DateTime.Now;
                                var StrColorDesc = "";
                                var STRDesc = "";
                                var StrLotFinishColor = "";
                                int sl = 0;
                                string hypen = "-";
                                TotalDblTotalMaterialCostFC = 0;
                                string dyeingRateClass = "";
                                foreach (var fl in Model.BatchProduction)
                                {
                                    sl = sl + 1;
                                    dyeingRateClass = fl.DyeingRate == 0 ? "bg-warning" : "";
                                    IntGreigeQty = Convert.ToDouble(fl.FabricQty);
                                    //  FinishFabricQty = fl.FinishFabricQty;
                                    FinishFabricQty = fl.FinishFabricDelQty;
                                    IntfabricQty = IntfabricQty + Convert.ToDouble(fl.FabricQty);
                                    IntChemCost = IntChemCost + Convert.ToDouble(fl.ChemicalCost);
                                    IntDyeCost = IntDyeCost + Convert.ToDouble(fl.DyesCost);
                                    IntTotalCost = IntTotalCost + Convert.ToDouble(fl.DyesCost) + Convert.ToDouble(fl.ChemicalCost);

                                    ToCalculateFinishFabricQty = 0;
                                    //if (Math.Round(fl.FinishFabricDelQty, 2) - Math.Round(IntGreigeQty, 2) < 0)
                                    //{
                                    ToCalculateFinishFabricQty = FinishFabricQty;
                                    //}
                                    //    else { ToCalculateFinishFabricQty = 0; }


                                    //TotalToCalculateFinishFabricQty = TotalToCalculateFinishFabricQty + ToCalculateFinishFabricQty;
                                    TotalToCalculateFinishFabricQty = TotalToCalculateFinishFabricQty + FinishFabricQty;
                                    TotalEarningUSD = TotalEarningUSD + Math.Round(fl.DyeingRate, 2) * ToCalculateFinishFabricQty;
                                    IntWastagTotalQty = IntWastagTotalQty + (IntGreigeQty - FinishFabricQty);
                                    DblTotalMaterialCost = Convert.ToDouble(fl.DyesCost) + Convert.ToDouble(fl.ChemicalCost);
                                    DblTotalMaterialCostFC = DblTotalMaterialCost / Model.CurrencyRate;
                                    FinishFabricDelQty = fl.FinishFabricDelQty;
                                    //   TotalFinishFabricDelQty=TotalFinishFabricDelQty+fl.FinishFabricDelQty;
                                    TotalFinishFabricDelQty = TotalFinishFabricDelQty + fl.FinishFabricDelQty;
                                    /*   if ((FinishFabricQty - IntGreigeQty) < 0)
                                       {
                                    */
                                    DblGrossProfit = Math.Round(((fl.DyeingRate * ToCalculateFinishFabricQty) - DblTotalMaterialCostFC), 2);
                                    /*  }
                                      else
                                      {
                                          DblGrossProfit = 0;
                                      }*/

                                    TotalDblGrossProfit = TotalDblGrossProfit + DblGrossProfit;
                                    TotalDblTotalMaterialCostFC = TotalDblTotalMaterialCostFC + DblTotalMaterialCostFC;
                                    StrColorDesc = fl.ColorDesc;
                                    RECIPEDATE = Convert.ToDateTime(fl.ReqDate);
                                    STRDesc = fl.FinishComments;
                                    StrLotFinishColor = "";
                                    if (Model.DateDifferenceDays(RECIPEDATE, CurrentDate) >= 4 && (Math.Round(FinishFabricQty, 2) - Math.Round(IntGreigeQty, 2) >= 0))
                                    {
                                        StrLotFinishColor = $"bgcolor='red'";
                                    }

                                    <tr>
                                        <td>@sl</td>
                                        <td>@fl.BuyerName</td>
                                        <td>@fl.OrderName</td>
                                        @{
                                            if (fl.LotID == 0)
                                            {
                                                StrColor = $"#E24C2C";
                                            }
                                            else
                                            {
                                                StrColor = "";
                                            }
                                        }

                                        <td style="width:100px;background:@StrColor"><a href="http://192.173.164.8/erp/MaterialsManagement/Consumables/CostingReports/DyesAndChemicalCostingReport(IRMID).asp?IRMID=@fl.IRMID" target="_blank">@fl.LotNo</a></td>
                                        <td>@fl.ReqDate</td>
                                        <td>@fl.MachineName</td>
                                        <td>@fl.Color</td>

                                        <td class="text-center font-weight-bold @dyeingRateClass">@fl.DyeingRate</td>

                                        <td class="text-right">@IntGreigeQty</td>
                                        @*<td style="@StrLotFinishColor">
                                                @if (Math.Round(FinishFabricQty, 2) - Math.Round(IntGreigeQty, 2) < 0)
                                                {
                                                    @FinishFabricQty;
                                                }
                                                else
                                                {
                                                    @hypen
                                                }
                                            </td>*@

                                        <td class="text-right">@FinishFabricDelQty</td>

                                        <td class="text-right">@String.Format("{0:n2}", (IntGreigeQty - FinishFabricDelQty))</td>
                                        @{
                                            var StrWastageColor = "";
                                            if (Math.Round((1 - (FinishFabricDelQty / IntGreigeQty)) * 100, 2) > 12)
                                            //if (Math.Round((1 - (FinishFabricDelQty / IntGreigeQty)) * 100, 2) > 12)
                                            {
                                                StrWastageColor = $"#E24C2C";
                                            }
                                        }
                                        <td class="text-right" style="background:@StrWastageColor">
                                            @*@Math.Round((1 - (FinishFabricDelQty / IntGreigeQty)) * 100, 2)*@
                                            @Math.Round((1 - (FinishFabricDelQty / IntGreigeQty)) * 100, 2)
                                        </td>

                                        <td class="text-right">
                                            @Math.Round((fl.DyeingRate * ToCalculateFinishFabricQty), 2)
                                        </td>

                                        <td class="text-right">@Math.Round(DblTotalMaterialCostFC, 2)</td>

                                        <td class="text-right">@Math.Round(DblGrossProfit, 2)</td>

                                        <td class="text-right">@Math.Round((DblTotalMaterialCostFC / FinishFabricDelQty), 2)</td>

                                        <td class="text-right">@Math.Round(fl.DyesCost, 2)</td>
                                        <td class="text-right">@Math.Round(fl.ChemicalCost, 2)</td>

                                        <td class="text-right">@Math.Round((fl.DyesCost + fl.ChemicalCost), 2)</td>

                                        <td class="text-right">@Math.Round((Convert.ToDouble(fl.ChemicalCost) / FinishFabricDelQty), 2)</td>

                                        <td class="text-right">@Math.Round((Convert.ToDouble(fl.DyesCost) / FinishFabricDelQty), 2)</td>

                                        <td class="text-right">@(Math.Round((Convert.ToDouble(fl.DyesCost + fl.ChemicalCost) / FinishFabricDelQty), 2))</td>


                                    </tr>
                                }

                                IntProdCost = IntTotalCost;
                            }
                            <tr class="boldFont">
                                <th colspan="8" style="text-align:right">Total</th>
                                <th class="text-right">@IntfabricQty</th>
                                @*<th>@TotalToCalculateFinishFabricQty</th>*@
                                <th class="text-right" align="right">@String.Format("{0:n2}", TotalFinishFabricDelQty)</th>
                                <th class="text-right" align="right">@String.Format("{0:n2}", IntWastagTotalQty)</th>
                                <th class="text-right" align="right">@Math.Round((IntWastagTotalQty * 100 / IntfabricQty), 3)</th>
                                <th class="text-right" align="right">@String.Format("{0:n2}", TotalEarningUSD)</th>
                                <th class="text-right" align="right">@String.Format("{0:n2}", TotalDblTotalMaterialCostFC)</th>
                                <th class="text-right" align="right">@String.Format("{0:n2}", TotalDblGrossProfit)</th>
                                <th class="text-right" align="right">@String.Format("{0:n2}", TotalDblTotalMaterialCostFC / TotalFinishFabricDelQty)</th>
                                <th class="text-right" align="right">@IntDyeCost</th>
                                <th class="text-right" align="right">@IntChemCost</th>
                                <th class="text-right" align="right">@IntTotalCost</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>

                            </tr>
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                    @*</div>*@
                </div>
                <script>
                    //$(function () {
                    productionFabricQuantity.innerHTML = `@String.Format("{0:n2}",TotalFinishFabricDelQty) Kg`;
    var _ProductionCost = '@(String.Format("{0:n2}",(IntProdCost / Model.CurrencyRate)))';
                    ProductionCost.innerHTML = `$ ${_ProductionCost} <br/>(BDT: @(String.Format("{0:n2}",IntProdCost)))`;
                    var _totalEarningUSD = '@(String.Format("{0:n2}",TotalEarningUSD))';
                    var _totalEarningDBT = '@(String.Format("{0:n2}",(TotalEarningUSD*Model.CurrencyRate)))';
    totalEarning.innerHTML=`$ ${_totalEarningUSD} <br/>(BDT: ${_totalEarningDBT})`;
    //});

                </script>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <h6 style="text-align:center">Shade Correction</h6>

                    <table class="table table-striped table-sm table-lg table-bordered borderColor mdReport  sticky-header">
                        <thead>
                            <tr class="table-thead">
                                <th style="width:25px;">SN</th>
                                <th>Buyer</th>
                                <th style="width:80px;">Order<br /> No</th>
                                <th style="width:80px;">Lot<br /> No</th>
                                <th style="width:80px;">Date</th>
                                <th style="width:80px;">Machine<br />No</th>
                                <th style="width:70px;">Color</th>
                                <th style="width:40px;">RATE<br>USD</th>
                                <th>Grey<br />Qty(KG)</th>
                                <th style="width:50px;">Finish <br>Qty(KG)</th>
                                <th colspan="2" style="width:50px;">Wastage<br>(KG)</th>
                                <th align="center" style="width:50px;" bgcolor="#9BCDFF" class="Txt10BBB">Wastage <br />% </th>
                                <th style="width:50px;" align="center">TOTAL<br>EARNING<br>USD</th>
                                <th>DyesCost</th>
                                <th>Chemical<br />Cost</th>
                                <th>Total<br />Cost</th>
                                <th>Total<br>Cost<br>USD @Model.CurrencyRate</th>
                                <th style="width:50px;">Gross<br>Profit<br>USD</th>
                                <th style="width:10px;">&nbsp;</th>
                                <th style="width:80px;">Chemical<br /> Cost/(KG)</th>
                                <th style="width:50px;">Dyes<br />Cost/(KG)</th>
                                <th style="width:40px;">Cost<br />/(KG)</th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            @{
                                IntfabricQty = 0;
                                IntChemCost = 0;
                                IntDyeCost = 0;
                                IntTotalCost = 0;
                                sl = 0;
                                TotalDblTotalMaterialCostFC = 0;
                                foreach (var fs in Model.ShadeProductionCost)
                                {
                                    sl = sl + 1;
                                    IntfabricQty = IntfabricQty + Convert.ToDouble(fs.FabricQty);
                                    IntChemCost = IntChemCost + Convert.ToDouble(fs.ChemicalCost);
                                    IntDyeCost = IntDyeCost + Convert.ToDouble(fs.DyesCost);
                                    //URL="DyesAndChemicalCostingReport(IRMID).asp?IRMID=" & ProductionXML.childnodes.item(FL).attributes.getNamedItem("IRMID").text
                                    IntTotalCost = IntTotalCost + Convert.ToDouble(fs.DyesCost) + Convert.ToDouble(fs.ChemicalCost);

                                    DblTotalMaterialCost = Convert.ToDouble(fs.DyesCost + fs.ChemicalCost);
                                    DblTotalMaterialCostFC = DblTotalMaterialCost / Model.CurrencyRate;

                                    TotalDblTotalMaterialCostFC = TotalDblTotalMaterialCostFC + DblTotalMaterialCostFC;

                                    <tr>
                                        <td>@sl</td>
                                        <td>@fs.BuyerName</td>
                                        <td>@fs.OrderName</td>
                                        @{
                                            StrColor = "";
                                            if (fs.LotID == 0)
                                            {
                                                StrColor = $"#E24C2C";
                                            }
                                            else
                                            {
                                                StrColor = "";
                                            }
                                        }

                                        @*<td style="width:120px;background:@StrColor">@fs.LotNo</td>*@
                                        <td style="width:120px;background:@StrColor"><a href="http://192.173.164.8/erp/MaterialsManagement/Consumables/CostingReports/DyesAndChemicalCostingReport(IRMID).asp?IRMID=@fs.IRMID" target="_blank">@fs.LotNo</a></td>
                                        <td>@fs.ReqDate</td>
                                        <td>@fs.MachineName</td>
                                        <td>@fs.Color</td>
                                        <td>-</td>
                                        <td class="text-right">@fs.FabricQty</td>
                                        <td align="right">-</td>
                                        <td colspan="2">-</td>
                                        <td align="right">-</td>
                                        <td align="right">-</td>
                                        <td class="text-right" align="right">@fs.DyesCost</td>
                                        <td class="text-right" align="right">@fs.ChemicalCost</td>
                                        <td class="text-right" align="right">@(fs.DyesCost + fs.ChemicalCost)</td>
                                        <td class="text-right" align="right">@Math.Round(DblTotalMaterialCostFC, 2)</td>
                                        <td align="right" nowrap="nowrap">-</td>
                                        <td align="right" nowrap="nowrap">&nbsp;</td>
                                        <td class="text-right" align="right" nowrap="nowrap">@(Math.Round(fs.ChemicalCost / fs.FabricQty, 2))</td>
                                        <td class="text-right" align="right">@(Math.Round(fs.DyesCost / fs.FabricQty, 2))</td>
                                        <td class="text-right" align="right">@(Math.Round((fs.DyesCost + fs.ChemicalCost) / fs.FabricQty, 2))</td>
                                    </tr>

                                    IntShadeCost = IntTotalCost;
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr class="table-thead">
                                <th colspan="8">Total</th>
                                <th>@Math.Round(IntfabricQty)</th>
                                <th>&nbsp;</th>
                                <th colspan="2">&nbsp;</th>
                                <th align="center">&nbsp;</th>
                                <th align="center">&nbsp;</th>
                                <th class="text-right">@Math.Round(IntDyeCost, 2)</th>
                                <th class="text-right">@Math.Round(IntChemCost, 2)</th>
                                <th class="text-right">@Math.Round(IntTotalCost, 2)</th>
                                <th class="text-right">@Math.Round(TotalDblTotalMaterialCostFC, 2)</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h6 style="text-align:center">Sample</h6>

                    <table class="table table-striped table-sm table-lg table-bordered mdReport borderColor  sticky-header">
                        <thead>
                            <tr class="table-thead">
                                <th style="width:25px;">SN</th>
                                <th>Buyer</th>
                                <th style="width:80px;">Order<br /> No</th>
                                <th style="width:80px;">Lot<br /> No</th>
                                <th style="width:30px;">Date</th>
                                <th style="width:80px;">Machine<br />No</th>
                                <th style="width:70px;">Color</th>
                                <th>RATE<br>USD</th>
                                <th>GreyQty<br />(KG)</th>
                                <th>Finish <br>Qty(KG)</th>
                                <th>Wastage<br>(KG)</th>
                                <th>Wastage % </th>
                                <th>TOTAL<br>EARNING<br>USD</th>
                                <th>Dyes<br />Cost</th>
                                <th>Chemical<br />Cost</th>
                                <th>Total<br />Cost</th>
                                <th>Total<br>Cost<br>USD @Model.CurrencyRate</th>
                                <th>Gross<br>Profit<br>USD</th>
                                <th>Chemical <br />Cost/(KG)</th>
                                <th>Dyes <br />Cost/(KG)</th>
                                <th>Cost/(KG)</th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            @{
                                IntfabricQty = 0;
                                IntChemCost = 0;
                                IntDyeCost = 0;
                                IntTotalCost = 0;
                                sl = 0;
                                TotalDblTotalMaterialCostFC = 0;
                                foreach (var fs in Model.SampleProductionCost)
                                {
                                    sl = sl + 1;
                                    fs.FabricQty = fs.FabricQty == 0 ? 0.0000001m : fs.FabricQty;

                                    IntfabricQty = IntfabricQty + Convert.ToDouble(fs.FabricQty);
                                    IntChemCost = IntChemCost + Convert.ToDouble(fs.ChemicalCost);
                                    IntDyeCost = IntDyeCost + Convert.ToDouble(fs.DyesCost);
                                    // URL="DyesAndChemicalCostingReport(IRMID).asp?IRMID=" & ProductionXML.childnodes.item(FL).attributes.getNamedItem("IRMID").text

                                    IntTotalCost = IntTotalCost + Convert.ToDouble(fs.DyesCost) + Convert.ToDouble(fs.ChemicalCost);

                                    DblTotalMaterialCost = Convert.ToDouble(fs.DyesCost) + Convert.ToDouble(fs.ChemicalCost);
                                    DblTotalMaterialCostFC = DblTotalMaterialCost / Model.CurrencyRate;
                                    TotalDblTotalMaterialCostFC = TotalDblTotalMaterialCostFC + DblTotalMaterialCostFC;

                                    <tr>
                                        <td>@sl</td>
                                        <td>@fs.BuyerName</td>
                                        <td>@fs.OrderName</td>
                                        @{
                                            StrColor = "";
                                            if (fs.LotID == 0)
                                            {
                                                StrColor = $"#E24C2C";
                                            }
                                            else
                                            {
                                                StrColor = "";
                                            }
                                        }

                                        @*<td style="width:120px;">@fs.LotNo</td>*@
                                        <td style="width:120px;"><a href="http://192.173.164.8/erp/MaterialsManagement/Consumables/CostingReports/DyesAndChemicalCostingReport(IRMID).asp?IRMID=@fs.IRMID" target="_blank">@fs.LotNo</a></td>
                                        <td>-</td>
                                        <td>@fs.MachineName</td>
                                        <td>@fs.Color</td>
                                        <td>-</td>
                                        <td class="text-right">@fs.FabricQty</td>
                                        <td align="right">-</td>
                                        <td>-</td>
                                        <td align="right">-</td>
                                        <td align="right">-</td>
                                        <td class="text-right" align="right">@fs.DyesCost</td>
                                        <td class="text-right" align="right">@fs.ChemicalCost</td>
                                        <td class="text-right" align="right">@(fs.DyesCost + fs.ChemicalCost)</td>
                                        <td class="text-right" align="right">@Math.Round(DblTotalMaterialCostFC, 2)</td>
                                        <td class="text-right" align="right" nowrap="nowrap">-</td>
                                        <td class="text-right" align="right" nowrap="nowrap">@(Math.Round(fs.ChemicalCost / fs.FabricQty, 2))</td>
                                        <td class="text-right" align="right">@(Math.Round(fs.DyesCost / fs.FabricQty, 2))</td>
                                        <td class="text-right" align="right">@(Math.Round((fs.DyesCost + fs.ChemicalCost) / fs.FabricQty, 2))</td>
                                    </tr>


                                }
                                IntSampleCost = IntTotalCost;
                            }
                        </tbody>
                        <tfoot>
                            <tr class="table-thead">
                                <th colspan="8" style="text-align:right;">Total</th>
                                <th align="right">@Math.Round(IntfabricQty, 2)</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th class="tdAlignRight">@Math.Round(IntDyeCost, 2)</th>
                                <th class="tdAlignRight">@Math.Round(IntChemCost, 2)</th>
                                <th class="tdAlignRight">@Math.Round(IntTotalCost, 2)</th>
                                <th class="tdAlignRight">@Math.Round(TotalDblTotalMaterialCostFC, 2)</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </tr>
                        </tfoot>
                    </table>


                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h6 style="text-align:center">Machine Wash</h6>

                    <table class="table table-striped table-sm table-bordered mdReport sticky-header">
                        <thead>
                            <tr class="table-thead">
                                <th>SN</th>
                                <th>Requisition Number </th>
                                <th>Machine</th>
                                <th>Machine Capacity</th>
                                <th>Chemical Cost</th>
                                <th>Total Cost</th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            @{
                                IntfabricQty = 0;
                                IntChemCost = 0;
                                IntDyeCost = 0;
                                IntTotalCost = 0;
                                sl = 0;
                                foreach (var m in Model.MachineWashCost)
                                {
                                    sl = sl + 1;

                                    //  URL="DyesAndChemicalCostingReport(IRMID).asp?IRMID=" & ProductionXML.childnodes.item(FL).attributes.getNamedItem("IRMID").text
                                    IntChemCost = IntChemCost + Convert.ToDouble(m.ChemicalCost);
                                    IntDyeCost = IntDyeCost + Convert.ToDouble(m.DyesCost);
                                    IntTotalCost = IntTotalCost + Convert.ToDouble(m.DyesCost) + Convert.ToDouble(m.ChemicalCost);

                                    <tr>
                                        <td>@sl</td>
                                        <td class="tdAlignRight">@m.IRMCODE</td>
                                        <td class="tdAlignRight">@m.MachineName</td>
                                        <td class="tdAlignRight">@m.MachineCap</td>
                                        <td class="tdAlignRight">@Math.Round(m.ChemicalCost, 2)</td>
                                        <td class="tdAlignRight">@Math.Round(m.DyesCost + m.ChemicalCost, 2)</td>
                                    </tr>


                                }
                                IntMWCost = IntTotalCost;

                                TOTALCOSTUSD = (IntSampleCost / Model.CurrencyRate) + (IntMWCost / Model.CurrencyRate) + (IntProdCost / Model.CurrencyRate) + (IntShadeCost / Model.CurrencyRate);
                            }
                        </tbody>
                        <tfoot>
                            <tr class="table-thead">
                                <th style="text-align:right;" colspan="4">TOTAL :</th>
                                <th class="tdAlignRight">@Math.Round(IntChemCost, 2)</th>
                                <th class="tdAlignRight">@Math.Round(IntTotalCost, 2)</th>
                            </tr>
                        </tfoot>
                    </table>



                </div>
            </div>
            <script>
                $(document).ready(function () {


                    var GrossProfitDol = '@String.Format("{0:n2}", (TotalEarningUSD - TOTALCOSTUSD))';
                    var GrossProfitBDT = '@String.Format("{0:n2}", ((TotalEarningUSD - TOTALCOSTUSD)*Model.CurrencyRate))';

                    const _samplingCost = '@(String.Format("{0:n2}",(IntSampleCost/Model.CurrencyRate)))';
                    const _samplingCostBDT = '@(String.Format("{0:n2}", IntSampleCost))';

                    const _MachineWaseCost = '@(String.Format("{0:n2}",(IntMWCost/Model.CurrencyRate)))';
                    const _MachinseWashCostBDT = '@(String.Format("{0:n2}",(IntMWCost)))';

                    const _ShadeCorrectionCost = "@(String.Format("{0:n2}",(IntShadeCost/Model.CurrencyRate)))";
                    const _ShadeCorrectionCostBDT = "@(String.Format("{0:n2}",(IntShadeCost)))";;

                @*samplingCost.innerHTML =`$ ${@(Math.Round(IntSampleCost/Model.CurrencyRate,2))}`;
                MachineWashCost.innerHTML =`$ ${@(Math.Round(IntMWCost/Model.CurrencyRate,2))}`;
                GrossProfit.innerHTML =`$ ${@(Math.Round(TotalEarningUSD-TOTALCOSTUSD,2))}`;
                ShadeCorrection.innerHTML =`$ ${@(Math.Round(IntShadeCost/Model.CurrencyRate,2))}`;*@
                    samplingCost.innerHTML = `$ ${_samplingCost} <br/>(BDT: ${_samplingCostBDT})) `;
                    MachineWashCost.innerHTML = `$ ${_MachineWaseCost} <br/> (BDT: ${_MachinseWashCostBDT})`;
                    GrossProfit.innerHTML = `$ ${GrossProfitDol} <br/>(BDT: ${GrossProfitBDT})`;
                    ShadeCorrection.innerHTML = `$ ${_ShadeCorrectionCost} <br/>(BDT: ${_ShadeCorrectionCostBDT} )`;
                    //Report Top

                    let gtotalEarning = document.getElementsByClassName('gtotalEarning');
                    gtotalEarning[0].innerHTML = '@(String.Format("{0:n2}",(TotalEarningUSD*Model.CurrencyRate)))';

                    let gtotalProductionCost = document.getElementsByClassName('gtotalProductionCost');
                    gtotalProductionCost[0].innerHTML = '@(String.Format("{0:n2}", IntProdCost + IntSampleCost + IntMWCost + IntShadeCost))';

                    let gperDaySalary = document.getElementsByClassName('gperDaySalary');
                    gperDaySalary[0].innerHTML = '@(String.Format("{0:n2}",Model.ComPerDayTotalSalary))';

                    let gtotalCost = document.getElementsByClassName('gtotalCost');
                    gtotalCost[0].innerHTML = '@(String.Format("{0:n2}", (double)Model.ComPerDayTotalSalary+ IntProdCost+ IntSampleCost + IntMWCost+ IntShadeCost))';

                    let gProfitLoss = document.getElementsByClassName('gProfitLoss');
                    gProfitLoss[0].innerHTML = '@(String.Format("{0:n2}",((TotalEarningUSD*Model.CurrencyRate)- (double)Model.ComPerDayTotalSalary - IntProdCost - IntSampleCost - IntMWCost - IntShadeCost)))';

                    var tprofitLoss = ((@TotalEarningUSD* @Model.CurrencyRate) - @Model.ComPerDayTotalSalary - @IntProdCost - @IntSampleCost - @IntMWCost - @IntShadeCost);

                    tprofitLoss >= 0 ? $(".profitLoss").addClass('text-light bg-success') : $(".profitLoss").addClass('text-light bg-danger');

                    let a = 0;
                });


            </script>
        </main>
    </div>
    <div class="row noprint no-print text-center">
        <div class="col-md-12">
            <input type="button" class="btn btn-danger" value="Print this page" onClick="window.print()">
        </div>
    </div>

    @*<script src="https:/ /cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https:/ /stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>*@
    <script src="~/lib/floatThead/floatThead.js"></script>
    <script src="~/lib/Export/tableExport.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".sticky-header").floatThead({ scrollingTop: 80 });
            $("#LotID").select2();
            $("#SlOrderNO").select2();
            GetOrderNo();
            getLotNo();
            $("#SlOrderNO").change(function () {
                let orderID = $("#SlOrderNO").val();
                if (orderID != "" && orderID != null) {
                    let lotTr = '';
                    debugger;
                    var returnData = GetData('ALLReports', 'GetOrderWiseLotRequisitionList', { OrderID:orderID });
                    $.each(returnData, function (i, v) {
                        lotTr += `<tr><td>${v.IRCode}</td>
                            <td>${v.Req_TypeName}</td>
<td><a href="http://192.173.164.8/erp/MaterialsManagement/Consumables/CostingReports/DyesAndChemicalCostingReport(IRMID).asp?IRMID=${v.IRID}" target="_blank">${v.LotNo}</a></td>
                            
                            <td>${v.GreigeQuantity}</td>
                            <td>${v.FinishQuantity}</td></tr>`;
                    });
                    $("#tBodyLot").html(lotTr);
                    if (returnData.length > 0) {
                        $("#divLot").removeClass('d-none');
                    } else {
                        $("#divLot").addClass('d-none');
                    }
                } else { $("#tBodyLot").html(''); }
                //GetOrderWiseLotNo();
                //GetOrderWiseLotRequisitionList

            });

            $("#btnShow").click(function () {
                var lotID = $("#LotID").val();
                var url = `http://192.173.164.8/erp/MaterialsManagement/Consumables/CostingReports/DyesAndChemicalCostingReport(IRMID).asp?IRMID=${lotID}`;
                window.open(url);

            });
            $("#exportProductionExcel").click(function () {
                $('#tblexportProductionExcelRawData').tableExport({ type: 'excel' });
            })
        });
        function GetOrderNo() {
            DropDownSelect2("Post", "/CommonDropDown/DDLBuyerWiseOrder", { "BuyerID": 0, "DateFrom": '', "DateTo": '@DateTime.Now' }, "SlOrderNO", false);
        }
        @*function GetOrderWiseLotNo() {
            var orderID = $("#SlOrderNO").val();
            DropDownSelect2("Post", "/FiniteScheduler/DFS_LotMakingMaster/DDLLotRequisition", { "BuyerID": 0, "DateFrom": '', "DateTo": '@DateTime.Now', OrderID: orderID }, "LotID", false);
        }*@
        function getLotNo() {
            DropDownSelect2("Post", "/FiniteScheduler/DFS_LotMakingMaster/DDLLotRequisition", {}, "LotID", false);
        }
        function HideLotTable(that) {
            debugger;
            $("#divLot").addClass('d-none');
            //that.parentNode.parentNode.parentNode.removeChild(that.parentNode.parentNode);
            $('#SlOrderNO').val(null).trigger('change');
            return false;
        }
    </script>
</body>
</html>
